
@media (max-width: 600px), (max-device-width: 600px){
    body, html {
        font: 12vw / 1.2em untitled-sans, helvetica, sans-serif;
    }
}

@media (max-width: 950px), (max-device-width: 950px){
    body, html, .collapsible {
    font: 7.5vw / 1.2em untitled-sans, helvetica, sans-serif;
    }
}  

body{
   
    font: 6.75vw / 1.1em untitled-sans, helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background: #29211E;
    color: #fff;
    letter-spacing: -2px;
    margin: 0;
}

header{
  margin-top: 10px;
}




/*collapsible*/

  .collapsible {
    z-index: 1;
    background:transparent;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font: 6.75vw / 1.1em untitled-sans, helvetica, sans-serif;
  }
  
  .active, .collapsible:hover {
    background:transparent;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background:transparent;
  }




/*card*/

  :root {
    --card-height: 500px;
    --card-width: calc(var(--card-height) / 1.5);
  }
  * {
    box-sizing: border-box;
  }

  li{
    list-style:none;
    display: flex;
    justify-content: center;
  } 
  
  .caja{
    padding-right: 4%;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .card {
    
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin:0 30px;
  }
  
  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    
  }
  
  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }
  .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  .wrapper::after {
    bottom: 0;
    opacity: 1;
  }
  
  .card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
  }
  
  .card:hover .wrapper::after {
    height: 120px;
  }
  .title {
    width: 100%;
    transition: transform 0.5s;
  }
  .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
  }
  
  .character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }
  
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }
  


  /*fondo*/

  .bg {
    z-index:-1;
    position: fixed;
     /*top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;   */
    width: 100%;
    height: 100vw ;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .5;
    visibility: visible;
  }
 @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5px,-5px) }
      20% { transform: translate(-10px,5px) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5px,15px) }
      50% { transform: translate(-10px,5px) }
      60% { transform: translate(15px,0) }
      70% { transform: translate(0,10px) }
      80% { transform: translate(-15px,0) }
      90% { transform: translate(10px,5px) }
      100% { transform: translate(5px,0) }
  } 